body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar{
    background-color: #84c8f0;
}
.navbar ul{
    margin: 0;
    padding: 15px;
    height: 100%;
}
.navbar ul li{
    display: inline;
    text-align: center;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 10px;
}
#date{
    text-align: center;
    font-size: 48px;
}
.input{
    text-align: center;
    margin: 25px;
}
#inputTaskP{
    font-size: 24px;
}
#task1{
    height: 20px;
    width: 30%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    
}
#task{
    padding: 10px;
    border: none;
    background-color: aqua;
    transition-duration: 0.5s;
}
.List{
    display: grid;
    grid-template-columns: 48% 48%;

}
.Todo, .Completed{
    display: inline-block;
    padding: 10px;
}
h1{
    text-align: center;
}
.textbox{
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    width: 80%;

}
p {
    display: inline;
    font-size: 20px;

}
#update{ 
    width: 100px;
    padding: 10px;
    margin: 1px;
    border-radius: 2px;
    background-color: aqua;
    border-color: aqua;
    transition-duration: 0.5s;
}

#update:hover{
    background-color: #68ffff;
    color: #606060;
}
#task:hover{
    background-color: #68ffff;
    color: #606060;
}