.List{
    display: grid;
    grid-template-columns: 48% 48%;

}
.Todo{
    display: inline-block;
    padding: 10px;

}
.Completed{
    display: inline-block;
    padding: 10px;

}

.textbox{
    padding: 10px;
    margin: 1px;
    border-radius: 2px;
    border-style: solid;
    width: 90%;
    border-color: black;

}
.input{
    text-align: center;

}
h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
form{
    display: inline;
}
#update{ 
    width: 100px;
    padding: 10px;
    margin: 1px;
    border-radius: 2px;
    background-color: aqua;
    border-color: aqua;
    transition-duration: 0.5s;
}

#update:hover{
    background-color: #68ffff;
    color: #606060;
}

#task{
    width: 100px;
    padding: 2px;
    margin: 3px;
    border-radius: 2px;
    background-color: aqua;
    border-color: aqua;
    transition-duration: 0.5s;
}
#task:hover{
    background-color: #68ffff;
    color: #606060;
}